<br />
<script>    
        $(function() {
          $('.sections').sortable({
            update: function(event, ui ) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { section: { row_order_position: ui.item.index()}}
              });
            }

          });
      
          $('.lessons').sortable({
            update: function( event, ui ) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { lesson: { row_order_position: ui.item.index()}}
              });
            }

          });
        });
  </script>
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>

  
   <p><%= image_tag current_course.image.url, class: 'img-fluid' %></p>

  

  <br />
  <%= link_to 'preview as a student', course_path(current_course), class: 'btn btn-danger btn-sm float-right' %>
  <br class="clr" />
  <br />
  <div>
    <%= link_to '+ Section', new_instructor_course_section_path(current_course), class: 'btn btn-info btn-sm float left' %>
  </div>
  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <br />
      <li class="booyah-box-section", data-update-url="<%= instructor_section_path(section) %>">
        <div class="header">
          <span class="fa fa-ellipsis">here is the section elipse</span>
          
          <%= section.title %>
        </div>
        <%= link_to '+ Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-info btn-sm float left' %>
        <br />
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
          <!-- begin box -->
             <br />
            <li class="booyah-box-lesson", data-update-url="<%= instructor_lesson_path(lesson) %>">
              <div class="row">
                <div class="col-1">
                  <span class="fa fa-ellipsis-v">elipse</span>
                </div>
                <div class="col-11 text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
              </div>
              <br class="clr"/>
            </li>
           
          <!-- end box -->
          <% end %>

        </ul>
      </li>
    <% end %>
  </ul>
 </div>
 <br class="clr" />
 <br />
 <br />